<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Vendas e Estoque</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>

    <header>

        <h1>Sistema de Vendas e Estoque</h1>

        <nav>

            <a href="{{ url_for('listar_produtos') }}">
                Produtos
            </a>

            <a href="{{ url_for('novo_produto') }}">
                Novo Produto
            </a>

            <a href="{{ url_for('nova_venda') }}">
                Nova Venda
            </a>

            <a href="{{ url_for('dashboard') }}">
                Dashboard
            </a>

        </nav>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>